.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
  .side-header{
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    justify-content: center;
    .side-box{
      githubheight: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__userName{
        font-size: 16px;
        font-weight: bold;
        color: #fff;
      }
      &__Iconlist{
        display: flex;
        justify-content: flex-end;
        &__icon{
          margin-left: 5px;
          text-decoration: none;
          a{
            font-size: 16px;
            color: #fff;
          }
        }
      }
    }
  }
.groups{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 20px 0 40px 20px;
  overflow: scroll;
  .group{
    padding: 20px 0 40px;
    .group__name{
      color: #fff;
      font-weight: bold;
      font-size: 15px;
      border-top: 5px;
      }
    .group__messages{
      font-weight: bold;
      font-size: 11px;
      color: #fff;
      }
    } 
  }
}